

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  font-weight: bold;
  color: green;
}

.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  margin: 0;
}

.Welcome{
  background-color: salmon;
}
