body{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

p{
  font-size: 1.5em;
}

.App{
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}

.App::after {
  content: "";
  background: url('https://pixabay.com/get/eb37b70b20f5033ed1584d05fb1d4e97e07ee3d21cac104490f0c17fa1e8b1ba_340.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
  background-repeat: repeat;
  background-size: cover;
  background-color: antiquewhite; 
}

.centered{
  margin: 15vh auto 2vh auto;
}